*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header-section {
/* background-image: url(image/bg\ image.jpeg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 400px;
align-items: center;
display: flex;
justify-content: center;
color: aliceblue; */
position: relative;
text-align: center;
overflow: hidden;
}
.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: azure;
}
.custom-ml {
    margin-left: 40px;
}
.custom-btn{
    border-radius: 20px;
    background-color: rgb(212, 196, 22);
    border:none ;
    padding: 10px;
    text-decoration: none;
    transition: background-color o.5s ease;
}
.custom-btn:hover{
    background-color: green;
    color: white;
}
.mt-custom {
    padding: 60px 0px;
}
.mt-custom h2{
    text-align: center;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
.custom-f {
border-radius: 15px;
padding: 30px;
box-shadow: -27px 18px 8px 5px rgba(0, 0, 0,0.1 );
margin-bottom: 20px;
transition: transform 0.5s ease;
background-color: bisque;
margin-left: 20px;
}
.custom-f:hover{
transform: translate(-10px);
} 
.custom-cr{
    color: brown;
    text-align: center;
    font-weight: 600;
}
.checkout-section{
    padding: 60px 0px;
}
.checkout-section h2{
    text-align: center;
    font-weight: 600;
    color: brown;
}
.cehckout-form{
    width: 600px;
    margin: auto;
    padding: 30px;
    background-color: rgb(24, 253, 55);
    box-shadow: -27px 40px 5px 5px rgba(170, 110, 67, 0.1);
}
.footer {
    padding: 30px 0px;
    background-color: rgb(33, 30, 30);
    color: rgb(237, 245, 245);
}
.social-icons a{
    color: aliceblue;
    font-size: 25px;
    transition: color 0.5s ease;
}
.social-icons a:hover{
    color:blue
}
/* Image resonsive */
@media screen and (max-width: 580px){
.custom-f{
    width: 550px;
    padding: 20px;
}
}
@media screen and (max-width: 514px){
    .custom-f{
        width: 550px;
        padding: 20px;
    }
    }
    @media screen and (max-width: 642px){
        .img-responsive{
            width: 660px;
            padding:px;
        }
        }
        @media screen and (max-width: 600px){
            .img-responsive{
                width: 600px;
                padding:px;
                margin-left: 20px;
            }
            }
            @media screen and (max-width: 412px){
                .img-responsive{
                    width: 400px;
                    padding:px;
                    margin-left: 40px;
                }
                }
    
                @media screen and (max-width: 630px){
                    .img-responsive{
                        width: 650px;
                        padding:px;
                        margin-left: 40px;
                    }
                    }
                    @media screen and (max-width: 560px){
                        .img-responsive{
                            width: 600px;
                            padding:px;
                            margin-left: 40px;
                        }
                        }
                        @media screen and (max-width: 530px){
                            .img-responsive{
                                width: 600px;
                                padding:px;
                                margin-left: 40px;
                                margin-right: 10px;

                            }
                            }
                            @media screen and (max-width:620px) {
                              .footer{
                                width: 700px;
                              }  
                            }
